.box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 0 auto;
  max-width: 500px;
  padding: 16px;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.input {
  flex: 1 1 auto;
  resize: none;
  padding: 8px;
}

.chat {
  height: 200px;
  overflow: auto;
  white-space: pre;
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid rgb(118, 118, 118);
  line-height: 150%;
}

.box button {
  padding: 8px 16px;
}
